.detalle-container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.detalle-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detalle-container p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
