.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 12px;
  margin-left: 10px;
}

.rutaAdmin {
  display: flex;
  align-items: center;
  gap: 12px;
}
